/*global changes css*/
.left-side {
    width : 240px;
}
.sidebar {
    width : 240px;
}
.right-side {
    margin-left      : 240px;
    background-color : #eee;
}
@media screen and (min-width : 992px) {
    /*Right side strech mode*/
    .right-side.strech {
        margin-left : 0;
    }
    /* Left side collapse */
    .left-side.collapse-left {
        left : -240px;
    }
}
/*Give content full width on xs screens*/

@media screen and (max-width : 992px) {
    .right-side {
        margin-left : 0;
    }
    .row-offcanvas-left {
        left : 240px;
    }
    .row-offcanvas-left .sidebar-offcanvas {
        left : -240px;
    }
}
/*page level*/
body > .header .navbar .sidebar-toggle {
    margin-left : 0;
}
.panel {
    border-radius : 5px;
}
.panel-white {
    color : #fff;
}
.tiles-row .tile-bottom {
    margin-bottom : 21px;
}
.widget .item {
    margin         : 0;
    border-spacing : 0;
    border         : 0;
    width          : 38%;
    float          : left;
    padding        : 3px 0;
}
/*sales visits and income widgets*/

.canvas-interactive-wrapper1, .canvas-interactive-wrapper2,
.canvas-interactive-wrapper3, .canvas-interactive-wrapper4 {
    position : relative;
}
.canvas-interactive-wrapper1 canvas, .canvas-interactive-wrapper2 canvas,
.canvas-interactive-wrapper3 canvas, .canvas-interactive-wrapper4 canvas {
    position      : absolute;
    display       : block;
    top           : 0;
    bottom        : 0;
    border-radius : 5px;
    height        : 135px;
    width         : 100%;
}
.canvas-interactive-wrapper1 .cta-wrapper1, .canvas-interactive-wrapper2 .cta-wrapper2,
.canvas-interactive-wrapper3 .cta-wrapper3, .canvas-interactive-wrapper4 .cta-wrapper4 {
    position        : relative;
    display         : inline-block;
    border          : solid 1px transparent;
    z-index         : 1;
    text-decoration : none;
    color           : #222;
    transition      : border .3s;
    width           : 100%;
}
.widget-count {
    width         : 62%;
    float         : left;
    padding       : 9px 0;
    border-radius : 0 5px 5px 0;
}
@media (max-width : 1200px) {
    .tile-bottom {
        margin-bottom : 15px;
    }
    .widget-count {
        padding : 16px 0;
    }
}

.item-icon {
    width : 1%;
}
.icon-color {
    background-color : #F5F5F5;
}
.widget-icon {
    display          : inline-block;
    line-height      : 77px;
    text-align       : center;
    font-size        : 36px;
    color            : #fff;
    border-radius    : 38px;
    width            : 75px;
    height           : 75px;
    margin           : 23px 15px;
    background-color : rgba(255, 255, 255, .4);
}
.fa-size {
    font-size : 43px;
}
.count-box {
    font-size : 3em;
}
.item-label {
    margin-bottom : 6px;
}
.item-label .title {
    font-size   : 16px;
    font-weight : 600;
}
.content-header .header-section {
    padding-left: 21px;
    padding-right: 21px;
}
.content-header h1 {
    font-size   : 38px;
    line-height : 1.5;
}
.index-header {
    margin     : -10px;
    text-align : center;
    color      : #fff;
    height     : 160px;
}
.inner-bg {
    padding : 44px 0;
}
.sec-mar {
    margin-top : 30px;
}
h2 small {
    color : #fff;
    font-size: 20px;
}
h2 small i
{
    font-size:20px !important;
}
/*tab1*/

.stat-chart {
    padding : 19px;
}
#home .text-muted {
    color : #555;
}


/*progressbar*/

.progress-stats {
    height : 8px;
}
/*panel tabs css start */
.panel-padding {
    padding : 4px;
}
.tabbable-custom > .nav-tabs {
    border : 0;
    margin : 0;
    top    : 0;
}
.bg-info {
    background-color : #48CFAD;
    color            : #ebf4e4;
}
.bg-success {
    background-color: #A0D468;
    color: #ebf4e4;
}

.bg-primary {
    color: #fff;
    background-color: #4FC1E9;
}

.bg-warning {
    color:#fff;
    background-color: #FFCE54;
}

.bg-danger {
    color:#fff;
    background-color: #FD9883;
}

.panel-default1 {
    border-color: #fff;
}

.panel-default1 > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: #ddd;
}

.panel-default1 > .panel-heading + .panel-collapse .panel-body {
    border-top-color: #ddd;
}

.panel-gradient {
    color: #fff;
    background: #5D9CEC;
}

.panel-gradient {
    color: #fff;
    background: #5D9CEC;
}

.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ededed;
}

.label {
    font-weight: 100;

}

.bottom-pad {
    margin-bottom: 6px;
}

.list-statistics {
    margin-bottom: 0;
}

.list-statistics .list-group-item {
    height: 55px;
    line-height: 50px;
}

.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.progress.progress-sm {
    height: 5px;
    margin-top: 5px;
}

.nav-float > li > a {
    position: relative;
    display: block;
    padding: 6px 18px;
}

.nav-tabs > li {
    float: left;
    margin-bottom: 0;
}
#placeholder {
    margin-left: 2%;
}
#placeholder .flot-text .flot-x-axis {
    left: -4px !important;
}
#placeholder .flot-text .flot-y-axis {
    top: -7px !important;
    left: -13px !important;
}

.nav-tabs {
    border-bottom: 1px solid #dee2e6;
    margin-top: -20px;
}

/*tabs css ends*/

/*server*/

.server-load {
    padding-top: 5px;
}

.server-stat {
    width: 33.33%;
}

.server-stat p {
    font-size: 16px;
    font-weight: 600;
}

.server-stat span {
    color: #777;
}

.server-buttons {
    margin-top: 30px;
}

.server-cache, .server-reset {
    width: 94%;
    border-radius: 3px;

}

.server-reset {
    margin-left: 6%;
}

/*projects status*/
.graph {
    height: 280px;
}

#hero-bar svg rect {
    width: 36px;
    fill: #428bca;
}
.chart_leftpad{
    padding-left: 9%;
}

/*projects status ends*/

/*browser interest*/

.basic-list img {
    height: 24px;
    margin-right: 12px;
}

.basic-list {
    padding: 0 17px;
    margin-bottom: 0;
}

.basic-list li {
    display: block;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.06);
    padding: 11px 0;
}

.basic-list li:last-child {
    border-bottom: 0;
}

.basic-list li:last-child img {
    margin: 0 16px 0 7px;
}

.basic-list .right {
    display: inline-block;
    padding: 3px 6px;
    font-weight: 600;
    margin-top: 4px;
}

.panel-widget .panel-heading {
    border-bottom: 1px solid #ddd;
}


/*update css*/

.card-header
{
    background: none;
}
.panel-widget .card-title
{
    margin-bottom: 0;
}
.list_of_items,.slimScrollDiv
{
    overflow: hidden; width: auto; height: 219px;
}
.task-row .row
{
    display: block;
}
.task-row [class*="col-"] {
    float: none;
    display: inline-block;
    vertical-align: top;

}
.task-row .col-lg-9,.col-md-9
{
  width:83%;
}
/*update css*/
.btn.add_task,.todolist_list .save_todo
{
    padding: 4.5px 12px;
}
.editinglist .un-do
{
    display: inline !important;
}
.padding_left{
    padding-left: 0;
}
@media (min-width: 320px) and (max-width: 575px)
{
    .nav-tabs.nav-float

    {
        margin-top: 0;
    }
    ul.nav-tabs.nav-float
    {
        float:left;
    }
    .zero-padding{
        padding-right: 15px;
    }
    .padding_left{
        padding-left: 15px;
    }
}
.inner-bg1{
    padding:25px 0;
}