.searchbar {
    position: absolute;
    top: 0;
    width: 25%;
    right: 460px;
    height: 100%;
    text-align: center;
    z-index: 2;
}
.searchbar > .input-group {
    margin-top: 20px;
}
.toolbar .search, .toolbar .account, .toolbar .cart {
    border: none;
}
.site-menu > ul {
    margin: 0 150px 0 auto;
}
.toolbar .cart>.count {
    margin-left: -10px;
    position: absolute;
    top: -7px;
    background-color: #0da9ef;
    color: #fff;
    padding: 5px 8px;
    border-radius: 20px;
    line-height: 1;
    font-size: 13px;
}
.toolbar .account>i, .toolbar .cart>i {
    font-size: 26px;
}

@media (max-width: 1070px) {
    .searchbar {
        display: none !important;
    }
}
@media (min-width: 1070px) {
    .tools > .search {
        display: none !important;
    }
}
.cart-badge {
    font-size: 12px;
    background: #f39c12;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    border-radius: 80%;
}

.hero-content {
    position: relative;
    text-align: center;
    top: -300px;
    color: #fff;
}
.hero-content p, .hero-content h1, .hero-content h4 {
    color: #fff;
}
.quote {
    font-size: 17px;
}

.form-group > .form-control-feedback {
    display: none;
}

.nav-search-form.input-group-btn {
    margin-top: 20px; !important;
}

.no-border {
    border: none;
}

.checkout-steps>a {
    width: 33.33%
}
