/* Fonts Imported from Google */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);
/*   Core: General style
----------------------------*/
html{
    height:100%;
}
body {
    font-family: 'Open Sans', sans-serif;
    background: url(../img/pages/lbg-1.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height:100%;
    padding-top: 70px;

}
.box{
    border-radius: 3px;
    background-color: #fff;
    padding: 19px 15px;
    margin-bottom: 70px;
    box-shadow: 0 16px 28px 0 rgba(0,0,0,0.22),0 25px 55px 0 rgba(0,0,0,0.21);
}
.box input[type='submit']{
    margin: 25px 0 20px 0;
}
@media screen and (min-width: 450px) {
    .box{
        padding: 36px 35px;
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    transition: transform ease-in 200ms;
}

.checkbox label{
    padding-left:0;
}

.forgot_Form .email{
    background: #fafafa;
}


.enter_email, .check_email {
    margin-top: 18px;
}

.help-block{
    color: #fecfb0;
}

.btn-top {
    margin-top: 20px;

}
a:hover, a:focus {
    text-decoration: none;
}

.signup-signin {
    margin-left: 10px;
    margin-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.has-error .help-block {
    color: #fb8678;
    float: left;
}
.has-error .form-control, .has-error .form-control:focus {
    border-color: #fb8678;
}
.text-danger {
    color: #fb8678;
}

.submit-btn {
    margin-top: 25px;
}
.preloader{ 
      position:fixed; 
      width:100%; 
      height:100%; 
      top:0; 
      left:0; 
      z-index:100000; 
      backface-visibility: hidden; 
      background: #ffffff; 
      } 
.loader_img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin:-25px 0 0 -25px;
}
.hidden
{
    display: none;
}
.form-group input::-webkit-input-placeholder
{
    color:#ccc;
}
.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success
{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}