/* Fonts Imported from Google */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

/*   Core: General style
----------------------------*/
body {
  font-family: 'Open Sans' !important;
  background:url(../img/pages/bg-1.jpg);
  height:100%;
  padding-top:5%;

}
html,body{
    position: relative;
    height: 100%;
}

.lockscreen-container{
    position: relative;
    width: 100%;
    margin: 80px auto;
    text-align: center;
    background: #fff;
}

#output{
    position: absolute;
    width: 100%;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: #428BCA;
    border: 0;
}

#output.alert-danger{
    background: rgb(228, 105, 105);
    border: 0;
}

.lockscreen-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 72px;
    height: 72px;
    border-radius: 100%;
    border: 4px solid #fff;
    background-size: cover;
    margin: auto;
    margin-top: -36px;
}

.form-box {
    padding-top: 32px;
}
.form-box input{
    width: 80%;
    padding: 10px;
    text-align: center;
    margin-left: 10%;
    margin-top: 25px;
    border: 1px solid #ccc;
    background: #fafafa;
    transition: 0.2s ease-in-out;
}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius:  5px;
}

.form-box button.login{
    margin:15px;
    padding: 6px 34px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}
.avatar{

  background-image: url('../img/authors/avatar1.jpg');
}

.user-name{
    width:100%;
    height: 114px;
    background: #418AC9;
    color: #fff;
}
.user-name h4 {
    padding-top: 25px;
    margin-bottom: 0;
}
/*======preloader=====*/
.preloader{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:100000;
    backface-visibility: hidden;
    background: #ffffff;
}
.loader_img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin:-25px 0 0 -25px;
}