/* Fonts Imported from Google */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400);

/*   Core: General style
----------------------------*/

body {
    font-family: 'Open Sans' !important;
    background: url(../img/light_grey.png);
    height: 100%;
    padding-top: 5%;
    padding-bottom: 3rem;
}

.btn-primary,
.primary,
.tags a.primary {
    border-color: #428BCA;
    background: #428BCA !important;
}

.btn-primary:hover {
    border-color: #509DE0;
    background: #509DE0 !important;
}

.social a,
.social a:hover,
.social a:focus {
    color: white;
    opacity: 0.9;
}

.btn-facebook {
    background: #428BCA;
}

.btn-twitter {
    background: #4FC1E9;
}

.btn-google {
    background: #FE5B5B;
}

.omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
}

.omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.8em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

@media screen and (max-width: 400px) {
    .mar-left5 {
        margin-left: 18px !important;
        margin-top: -10px;
    }
}

@media screen and (max-width: 425px) {
    .mar-top4 {
        margin-top: -7px;
    }
}

@media screen and (max-width: 400px) {
    .mar-left {
        margin-left: -5px !important;
    }
}


/* Chrome, Safari, Opera */

@-webkit-keyframes CAnimation {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}


/* Standard syntax */

@keyframes CAnimation {
    from {
        -webkit-filter: hue-rotate(0deg);
    }
    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

a:hover {
    text-decoration: none;
}

.radio label,
.checkbox label {
    padding-left: 0;
}

@media (min-width: 768px) {
    .form_width {
        margin-left: 12%;
    }
}
/*======preloader=====*/
.preloader{
    position:fixed;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:100000;
    backface-visibility: hidden;
    background: #ffffff;
}
.loader_img{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-position: center;
    margin:-25px 0 0 -25px;
}
.nocolor
{
    background: none;
    border: none;
}
.form_width .input-group-text
{
    border-radius: 0;
}
.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label
{
    color:#FB8678;
}
.has-success .help-block, .has-success .control-label, .has-success .radio, .has-success .checkbox, .has-success .radio-inline, .has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label
{
    color:#22D69D;
}
.has-success .form-control
{
    border-color: #1baa7d;

}
.agree small
{
    display: block;
}
#register_form .has-error .input-group-text {
    color: #FB8678;
    border-color: #FB8678;
    background-color: #FB8678;
}
#register_form .has-success .input-group-text {
    color: #22D69D;
    border-color: #22D69D;
    background-color: #22D69D;
}